<a name="content" class="anchor"></a>
<h3 class="subtitle">Home Page</h3>
<p>The Home Page is a <a href="#/patterns/grids.twoThirdsWithOffset">two thirds with offset layout</a> and uses the following components:</p>
<ul>
  <li><a href="#/patterns/navigation.primary">Primary Navigation on Dark Background</a></li>
  <li><a href="#/patterns/banners.carousel">Carousel</a></li>
  <li><a href="#/patterns/banners.ctas">Call to Action Floated Content Block</a></li>
  <li><a href="#/patterns/banners.ctas">Additional Call to Action spots</a></li>
  <li><a href="#/patterns/navigation.footer">Footer</a></li>
</ul>
<p>Please use the <em>Open +</em> link to view the page by itself.</p>
