.panel-green {
    border-color: $brand-success;
    .panel-heading {
        border-color: $brand-success;
        color: white;
        background-color: $brand-success;
    }
    a {
        color: $brand-success;
        &:hover {
            color: $brand-success;
        }
    }
}

.panel-red {
    border-color: $brand-danger;
    .panel-heading {
        border-color: $brand-danger;
        color: white;
        background-color: $brand-danger;
    }
    a {
        color: $brand-danger;
        &:hover {
            color: $brand-danger;
        }
    }
}

.panel-yellow {
    border-color: $brand-warning;
    .panel-heading {
        border-color: $brand-warning;
        color: white;
        background-color: $brand-warning;
    }
    a {
        color: $brand-warning;
        &:hover {
            color: $brand-warning;
        }
    }
}
