node_modules/
bower_components/
.sass-cache/
.idea
.idea/
.idea/workspace.xml
**/.idea/workspace.xml
/**/.idea/workspace.xml
*.iml
*.swp
*.lock
.tmp/
atlassian-ide-plugin.xml
workspace.xml
.DS_Store
**/.DS_Store
/**/.DS_Store
env/
ENV/
build/
.stack-work/
target/
dist/
