// Typography
// --------------------------------------------------

@import url(https://fonts.googleapis.com/css?family=PT+Sans);
$primary-font-family: "PT Sans", Helvetica, Arial, sans-serif;

//TODO: add better support for Rockwell Light
//@font-face {
//  font-family: 'Rockwell Light';
//  src: url('webfont.eot'); /* IE9 Compat Modes */
//  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
//}

@font-face {
	font-family: "Rockwell Light";
	src: url("fonts/rockwell-light.ttf") format("truetype");
}
$secondary-font-family: "Rockwell Light", Helvetica, Arial, sans-serif;
