/* ************************************************

SETTINGS.SCSS
global settings, configuration, brand colors, etc.

************************************************ */

// Colors
// --------------------------------------------------

// Colors
// --------------------------------------------------
$primary-color: #1162ac;
$cta-color: #49a1da;
$gradient-dark-color: #368fce;
$alert-color: #df2128;
$info-color: #3ca096;
$promotions-color: #aa186d;
$rollup-color: #3FA197;

$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);
$gray-lighter: lighten(#000, 93.5%);
$gray-lightest: lighten(#000, 97.25%);
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$gray1: #333333; // darkest
$gray2: #4f4f4f; // primary
$gray3: #858686;
$gray4: #b0b1b1; // secondary
$gray5: #cdcbcb;
$gray6: #eeeded;
$gray7: #f3f3f3;
$gray8: #fafafa; // lightest


