.data-table {
  width: 100%;
  thead > tr > th {
    font-size: 14px;
    text-align: center;
    padding: 0 10px;

    // Empty col for row labels
    &.empty {
      padding: 0;

      // First col with data
      + th {
        padding-left: 30px;
      }
    }
  }
  tbody > tr {
    > th {
      font-size: 14px;
      padding: 2px 20px;
      text-align: right;
      vertical-align: middle;
      line-height: 1em;
      text-transform: none;

      > strong {
        font-size: 14px;
      }

      // First col with data
      + td {
        padding-left: 20px;
      }
    }
    // First row label has extra padding
    &:first-child > th:first-child {
      padding: 10px 20px;
    }
    // Last row label has extra bottom padding
    &:last-child > th:first-child {
      padding-bottom: 15px;
    }
    &.divider {
      td {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .line {
        display: block;
        height: 1px;
        background-color: $gray1;
      }
    }
  }
  td {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
  }
  .color-code {
    width: 4px;
    padding: 0;
  }
}
