/* ************************************************

BASE.SCSS
ground zero styles, unclassed HTML elements, type selectors: no classes

************************************************ */

// Links
// --------------------------------------------------
a,
a:hover {
	text-decoration: none;
}

// Typography - Scale
// --------------------------------------------------
h1,h2,h3 {  }

h1 { font-size: 46px; }
h2 { font-size: 38px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

html, body {
	font-size: 12px;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Inputs
// --------------------------------------------------

// removes default arrow from dropdown
select {
	@include prefix(appearance, none, webkit moz);
}

// remove default arrow from dropdown IE 10+
select::-ms-expand{
	display:none;
}

// remove default focus styles from bootstrap form-control
.form-control:focus {
	border: none;
	box-shadow: none;
}
