/* ************************************************

BASE.SCSS
ground zero styles, unclassed HTML elements, type selectors: no classes

************************************************ */

//blog base
body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #404040;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #404040;
}
a:hover,
a:focus {
  color: #0085a1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
// --------------------------------------------


// Grid
// --------------------------------------------------
.container{
	width: 1024px;
}

// Links
// --------------------------------------------------
a,
a:hover {
	text-decoration: none;
}

// Typography - Scale
// --------------------------------------------------
h1,h2,h3 {  }

h1 { font-size: 46px; }
h2 { font-size: 38px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

html, body {
	font-size: 12px;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Inputs
// --------------------------------------------------

// removes default arrow from dropdown
select {
	@include prefix(appearance, none, webkit moz);
}

// remove default arrow from dropdown IE 10+
select::-ms-expand{
	display:none;
}

// remove default focus styles from bootstrap form-control
.form-control:focus {
	border: none;
	box-shadow: none;
}
