<div id="main" class="site-main" role="main">
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <article id="post-16" class="post-16 page type-page status-publish hentry">
            <header class="entry-header">
            <h1 class="entry-title">About</h1></header><!-- .entry-header -->
            <div class="entry-content">
                <div class="about">
                    <section class="about__section">
                    <h1>6 things to know about me</h1>
                    <ul class="row list-style--none about__section__list--first col-md-offset-4">
                        <li>I am an analytical thinker who works well with others.</li>
                        <li>I truly love UX Design.</li>
                        <li>I see the value of a team working&nbsp;cohesively.</li>
                        <li>Big or small, I’m always ready to plan an event.</li>
                        <li>My 95 year old grandma is my best friend.</li>
                        <li>I love to learn about different cultures.</li>
                    </ul>
                    </section>
                    <section class="about__section about__grid">
                    <h1>Education</h1>
                    <ul class="row col-md-offset-2">
                        <li class="col-md-6"><em>M.A. Conflict Analysis and Resolution</em><br>
                        George Mason University</li>
                        <li class="col-md-6"><em>M.S. Mediterranean Studies</em><br>
                        University of Malta</li>
                        <li class="col-md-6"><em>UX/UI Design Certificate</em><br>
                        Boulder Digital Arts</li>
                        <li class="col-md-6"><em>B.A. African American Studies</em><br>
                        University of Massachusetts</li>
                    </ul>
                    </section>
                    <section class="about__section about__grid">
                    <h1>Everything UX</h1>
                    <ul class="row col-md-offset-1">
                        <li class="col-md-6"><em>Freelance UX Designer</em><br>
                        I provide clients with research, planning, strategy &amp; UX Design.</li>
                        <li class="col-md-6"><em>Co-organizer of <a href="https://www.meetup.com/DenverUX/" target="_blank">Denver UX Meetup</a>&nbsp;</em><br>
                        I create UX events for 900+ community members in Denver.</li>
                        <li class="col-md-6"><em>Organizer of <a href="https://www.meetup.com/UX-Happy-Hour-in-Denver/" target="_blank">UX Happy Hour in Denver&nbsp;</a></em><br>
                        I coordinate monthly events for UX Designers &amp; Researchers to network.</li>
                        <li class="col-md-6"><em>Lead Event Coordinator for Creative Mornings</em><br>
                        I assist in the organization of monthly events for the creative community in Denver.</li>
                    </ul>
                    </section>
                </div>
                <p style="text-align: center; margin-top: 1em;"><a class="btn btn-primary" href="http://162.243.140.100:8080/wp-content/uploads/2016/08/Becky-Sable-Resume.pdf" download="">Download My Resume</a></p>
            </div><!-- .entry-content -->

            </article><!-- #post-## -->

        </div>
    </div><!-- #content -->
</div>
