.dropdown, .dropdown:focus {
    margin-top: 3px; //should this be global?
	font-size: 16px;
    font-weight: bold;
    color: $cta-color;
    border: 2px solid $cta-color;
    height: 44px;
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 90%;
}
