// Text
// --------------------------------------------------

// order status (in stock, shipped, sent to warehouse)
.status {
	font-size: 11px;
	text-transform: uppercase;
	color: $gray2;
	font-weight: bold;
}
// backorder status (expected delivery)
.status--alert {
	@extend .status; 
	color: $alert-color;
}

// Main Product Title and Order # (Order 6456635, Rimadyl 100mg 60 chewables)
.title {
	font-size: 16px;
	color: $primary-color;
	font-weight: bold;
}
