/* ************************************************

MAIN.SCSS
outputs final master css file

MEHTODOLOGY -- BEM naming convention with the ITCSS hierarchy

ITCSS
-------------------------------------------------------------------------------
Inverted Triangle CSS - a sane scalable meta-framework organizing css from broad to specific

BEM
-------------------------------------------------------------------------------
.block            represents the higher level of an abstraction or component.
.block__element   represents a descendent of .block that helps form .block as a whole.
.block--modifier  represents a different state or version of .block.

************************************************ */
// ----------------------------------------------------------
// 0-VENDOR: unedited third party libraries
// ----------------------------------------------------------

@import "0-vendor/_vendor.scss";

// ----------------------------------------------------------
// 1-SETTINGS: global settings, configuration, brand colors, etc.
// ----------------------------------------------------------

@import "1-settings/_settings.scss";

// ----------------------------------------------------------
// 2-TOOLS: globally available tools, public mixins, helper functions
// ----------------------------------------------------------


// ----------------------------------------------------------
// 3-BASE: ground zero styles, unclassed HTML elements, type selectors: no classes
// ----------------------------------------------------------

@import "3-base/_base.scss";

// ----------------------------------------------------------
// 4-ATOMS: basic ui components with distinct properties such as bttons, inputs, labels etc.
// ----------------------------------------------------------
@import "4-atoms/_atoms.scss";

// ----------------------------------------------------------
// 5-MOLECULES: groups of elements (atoms) that function as a unit
// ----------------------------------------------------------
@import "5-molecules/_molecules.scss";
