//////////////////////////////////////////////////////
/// <select>
//////////////////////////////////////////////////////
.select-input {
  @extend .clearfix;
  position: relative;
  height: 60px;

  &.valid:before, &.invalid:before {
    right: 8px;
  }

  &.invalid.tip, &.valid.tip {
    .icon-tip {
      right: 33px;
    }
  }

  &.tip .icon-tip {
    right: 8px;
    top: 5px;
  }

  .tip-text, .invalid-error {
    width: 100%;
    float: left;
    padding-left: 8px;
    margin-top: -6px;
  }

  .ie8 & {

    .select-input-element {
      border: 2px solid #efac14;
      overflow: hidden;
      padding: 0;
      margin: 0;
      padding-right: -20px;
      width: 50%;

      // create new stacking context for children so parent isn't in same stacking context.
      // This would put the select element behind its parent, out of sight
      z-index: 0;

      &:before {
        content: url("../images/icon_dropmenu.png");
        position: absolute;
        right: 7px;
        top: 9px;
        width: 10px;
        height: 7px;
        display: block;
        z-index: 1;
      }
    }

    &.disabled .select-input-element {
      border-color: $lightGrey;
    }

    .select-label {
      display: none;
    }

    .tip-text {
      margin-top: 5px;
      margin-left: 5px;
    }

    select {
      opacity: 1;
      position: relative;
      padding: 4px 0 4px 10px;
      width: 120%;
      font-size: 17px;
      text-transform: uppercase;
      z-index: -1;
    }

  }
}

.select-input-element {
  position: relative;
  margin-bottom: 6px;
  // margin-left: 7px;
  height: 30px;
  padding: 0;

  .select-input.invalid &,
  .select-input.valid &,
  .select-input.tip & {
    margin-right: 37px;
  }

  .select-input.invalid.tip &,
  .select-input.valid.tip & {
    margin-right: 62px;
  }

  .select-label {
    @extend .btn-secondary;
    // actual styles
    display: block;
    height: 30px;
    padding: 5px 10px;
    text-align: left;

    &.placeholder {
      color: $gray-light;
    }

    &.hover, &.focus {
      color: $white;
      text-shadow: 1px 1px 3px $grey;
      outline: none;
    }

    &:before {
      content: url("../images/icon_dropmenu.png");
      position: absolute;
      right: 15px;
      top: 5px;
      width: 10px;
      height: 7px;
    }
  }

  select {
    border: none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // disabled
  .select-input.disabled & {
    select {
      cursor: not-allowed;
    }
    .select-label {
      border-color: $lightGrey;
      color: $lightGrey;
    }
  }


}
