//////////////////////////////////////////////////////
/// <input type="text">
//////////////////////////////////////////////////////
.text-input {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 50px;
  padding-bottom: 7px;
  position: relative;
  z-index: 1;

  &.tip.invalid, &.tip.valid {
    input {
      padding-right: 50px;
    }
    .icon-tip {
      right: 40px;
    }
  }

  &.invalid input, &.valid input, &.tip input {
    padding-right: 25px;
  }

  &.invalid:before,
  &.valid:before {
    top: 0;
    z-index: 1;
  }

  input {
    border-width: 0;
    border-radius: 0;
    border-bottom: 1px solid #000;
    padding: 0 0.2em;
    font-weight: 100;
    height: 23px;
    background: none;
    .ie8 & {
      // For IE8, position input element under
      // pseudo element
      z-index: -1;
    }

    @mixin placeholder {
      color: $gray8;
      font-weight: normal;
    }

    &.placeholder {
      @include placeholder;
    }

    &::placeholder {
      @include placeholder;
    }
  }

  // Input focus style
  input:focus {
    outline: none;
  }
  &.invalid input {
    border-bottom-color: $brand-danger;
  }
  &.invalid input:focus {
  }

  // disabled
  &.disabled {

    input {
      border-bottom-color: $gray8;
      cursor: not-allowed;

      &.placeholder {
        color: $gray8;
      }

      &::placeholder {
        color: $gray8;
      }
    }

  }
}
