//////////////////////////////////////////////////////
/// <input type="radio"> or <input type="checkbox">
//////////////////////////////////////////////////////
.toggle-group {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;

  text-transform: uppercase;
  @include font-medium();
  font-weight: 500;
  position: relative;


  .toggle-group-label {
    @include font-medium();
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    margin: 7px 21px 5px 5px;
    height: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    padding-left: 10px;
  }

  label {
    margin-left: 5px;
    font-weight: 500;
    line-height: 16px;
    vertical-align: bottom;
  }

  .invalid-error, .tip-text {
    margin-top: 12px;
    text-transform: none;
    margin-top: 0;
    margin-left: 0;
    font-weight: 400;
  }

  .icon-tip {
    right: 1px;
    top: 7px;
  }

  &.invalid:before,
  &.valid:before {
    right: 1px;
    top: 0;
  }


  &.invalid.tip, &.valid.tip {
    li.last:before {
      margin-left: 35px;
    }
    .icon-tip {
      right: 26px;
      top: 0;
    }
  }
}

.toggle-element {
  width: 30px;
}

.toggle-element, .toggle-group {
  input[type="radio"],
  input[type="checkbox"] {
    // Hide without display:none; so still focusable
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: -999px;

    & + .toggle-icon {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      padding: 5px;
      background-position: 5px 5px;
      background-repeat: no-repeat;
      margin: 0;
    }
  }

  input[type="radio"] {
    & + .toggle-icon {
      background-image: url("../images/btn_radioOff.png");
    }
    &:focus + .toggle-icon {
      background-image: url("../images/btn_radioOff_focus.png");
    }

    &.checked + .toggle-icon {
      background-image: url("../images/btn_radioOn.png");
    }
    &:checked:focus + .toggle-icon {
      background-image: url("../images/btn_radioOn_focus.png");
    }
  }
  .toggle-icon.radio.checked /* IE8 */ {
    background-image: url("../images/btn_radioOn.png");
  }
  .toggle-icon.radio.checked.focus /* IE8 */ {
    background-image: url("../images/btn_radioOn_focus.png");
  }

  input[type="checkbox"] {
    & + .toggle-icon {
      background-image: url("../images/btn_checkboxOff.png");
    }
    &:focus + .toggle-icon {
      background-image: url("../images/btn_checkboxOff_focus.png");
    }

    &:checked + .toggle-icon {
      background-image: url("../images/btn_checkboxOn.png");
    }
    &:checked:focus + .toggle-icon {
      background-image: url("../images/btn_checkboxOn_focus.png");
    }
  }
  .toggle-icon.checkbox.checked /* IE8 */ {
    background-image: url("../images/btn_checkboxOn.png");
  }
  .toggle-icon.checkbox.checked.focus /* IE8 */ {
    background-image: url("../images/btn_checkboxOn_focus.png");
  }
  
  /////
  /// Disabled toggle elements
  /////
  &.disabled {
    color: $lightGrey;

    &, & label {
      cursor: not-allowed;
    }

    input[type="radio"] {
      & + .toggle-icon {
        background-image: url("../images/btn_radioOff_disabled.png");
      }
      &.checked + .toggle-icon {
        background-image: url("../images/btn_radioOn_disabled.png");
      }
    }
    .toggle-icon.radio.checked /* IE8 */ {
      background-image: url("../images/btn_radioOn_disabled.png");
    }

    input[type="checkbox"] {
      & + .toggle-icon {
        background-image: url("../images/btn_checkboxOff_disabled.png");
      }
      &.checked + .toggle-icon {
        background-image: url("../images/btn_checkboxOn_disabled.png");
      }
    }
    .toggle-icon.checkbox.checked /* IE8 */ {
      background-image: url("../images/btn_checkboxOn_disabled.png");
    }

  }
}

// Used on the confirmation form page
.toggle-label {
  margin-left: 35px;
}
