<a name="fourohfour" class="anchor"></a>
<h3 class="subtitle">404 Error Page</h3>

<p>The 404 page is used for URLs that are not found. You can use this template and swap out the various components. Currently it uses the following components:</p>
<ul>
  <li><a href="#/patterns/navigation.primary">Primary Navigation</a> without menus</li>
  <li><a href="#/patterns/forms.search">Search Input</a></li>
  <li><a href="#/patterns/forms.text">Various Form Elements</a></li>
  <li><a href="#/patterns/navigation.footer">Footer</a></li>
</ul>

<template-sampler layout="blank" template="prototypes.404"></template-sampler>
