<section class="todoapp">
	<todo-header></todo-header>
	<todo-content></todo-content>
	<todo-footer></todo-footer>
</section>

<div id="demo">
	<p>{{message}}</p>
	<input v-model="message">
</div>

<footer class="info">
	<p>Double-click to edit a todo</p>
	<p>Created by <a href="http://twitter.com/oscargodson">Oscar Godson</a></p>
	<p>Refactored by <a href="https://github.com/cburgmer">Christoph Burgmer</a></p>
	<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
<div zrepeat id="example"></div>
