@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);

html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url("bg_noise.jpg") repeat fixed;
	font-family: 'Titillium Web', sans-serif;
}

body {
	height: 100%;
	margin: 0;
	padding: 1ex;
	text-align: center;
	background: url("rocket.png") center bottom / auto 75% no-repeat fixed;
}

strong {
	font-size: 300%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
